<section>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h2>Crear usuario</h2>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" formControlName="name" class="form-control form-control-sm" />
                        </div>
                    </div>
                    <div *ngIf="submitted && f.name.errors" class="error">
                        <div *ngIf="f.name.errors.required">
                            <p style="color: red;">El nombre es requerido</p>
                        </div>
                        <div *ngIf="f.name.errors.minlength">
                            <p style="color: red;">
                                La contraseña debe tener al menos 3 caracteres
                            </p>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" formControlName="email" class="form-control form-control-sm" />
                        </div>
                        <div *ngIf="submitted && f.email.errors" class="error">
                            <div *ngIf="f.email.errors.required">
                                <p style="color: red;">El correo electrónico es requerido</p>
                            </div>
                            <div *ngIf="f.email.errors.email">
                                <p style="color: red;">
                                    El correo electrónico debe ser una dirección de correo electrónico válida
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
                        <div class="col-sm-10">
                            <input type="password" formControlName="password" class="form-control form-control-sm" />
                        </div>
                    </div>


                    <div *ngIf="submitted && f.password.errors">
                        <div *ngIf="f.password.errors.required">
                            <p style="color: red;">La contraseña es requerida</p>
                        </div>
                        <div *ngIf="f.password.errors.minlength">
                            <p style="color: red;">
                                La contraseña debe tener al menos 6 caracteres
                            </p>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Confirmar contraseña</label>
                        <div class="col-sm-10">
                            <input type="password" formControlName="password_confirmation"
                                class="form-control form-control-sm" />
                        </div>
                    </div>
                    <div *ngIf="submitted && f.password_confirmation.errors">
                        <div *ngIf="f.password_confirmation.errors.required">
                            <p style="color: red;">La contraseña es requerida</p>
                        </div>
                        <div *ngIf="f.password_confirmation.errors.minlength">
                            <p style="color: red;">
                                La contraseña debe tener al menos 6 caracteres
                            </p>
                        </div>
                    </div>

                    <button value="Place Order" class="btn btn-sm btn-primary" type="submit">
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>