<section>
  <div class="container px-4 px-lg-5 mt-5">
    <div class="card" style="width: 100%">
      <div class="card-body">
        <h3>Mis compras</h3>
        <table class="table table-sm">
          <thead class="table-dark">
            <tr>
              <th scope="col">Item</th>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio unitario</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let items of data.shopping">
              <tr *ngFor="let item of items.items">
                <td>{{ item.reference }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.unit_value }}</td>
                <td>{{ item.total }}</td>
              </tr>
              <tr class="line">
                <td colspan="5">
                  <small><strong>Compra </strong>#0000{{ items.resume.id }}</small><br />
                  <small><strong>Fecha de compra</strong>
                    {{ items.resume.date_invoice }}</small><br />
                  <small><strong>Total</strong>
                    {{ items.resume.total_invoice }}</small><br />
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>