<section>
  <div class="parent" *ngIf="datos.length > 0; else content">



    <div class="container px-4 px-lg-5 mt-5">
      <div class="card" style="width: 100%;">
        <div class="card-body">


          <div class="row g-0">
            <div class="col-md-8 border-right">
              <div class="p-3 bg-white">
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="heading1"></h6>
                  <div class="d-flex flex-row align-items-center text-muted">
                    <span class="days mr-2"></span>
                    <em class="fa fa-angle-down"></em>
                  </div>
                </div>

                <div class="table-responsive">
                  <table class="table table-sm">
                    <thead>
                      <th scope="col">N°</th>
                      <th scope="col">Referencia</th>
                      <th scope="col">Producto</th>
                      <th scope="col">Precio</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col"></th>
                    </thead>

                    <tbody>
                      <tr *ngFor="let item of datos; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ item.reference }}</td>
                        <td>{{ item.name }}</td>
                        <td>${{ item.price | number: "4.2-5" }}</td>
                        <td>
                          <input type="number" class="form-control form-control-sm" inputmode="numeric" name="quantity"
                            autocomplete="off" data-wf-cart-action="update-item-quantity" [(ngModel)]="item.cantidad"
                            name="cantidad" (change)="calcularPrecio()" min="1" oninput="validity.valid||(value='');" />
                        </td>
                        <td>&nbsp;</td>
                        <td>
                          <button class="btn btn-sm btn-outline-danger" (click)="deleteItem(item.id)">
                            X
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="p-3 bg-white">
                <h6 class="account">Total a pagar</h6>
                <span class="mt-5 balance">${{ total | number: "4.2-5" }}</span>
              </div>
              <div class="border-top border-bottom p-3 bg-white transaction">
                <a href="javascript:void(0)" class="btn btn-sm btn-primary" (click)="buy()">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #content>
  <div class="d-flex align-items-center justify-content-center h-100">
    <p>Tu carrito de compras esta vacío</p>
    
  </div>
</ng-template>