<div class="nav-bar w-nav">
  <div class="nav-top">
    <div class="wrapper nav-top-wrapper">
      <div class="nav-top-info">
        <div class="nav-top-text">Call Us: +1 213 974-5898</div>
        <div class="w-hidden-tiny">
          Email: <a href="#" class="link-white">toystore@template.com</a>
        </div>
      </div>
      <div class="nav-top-social">
        <a
          href="https://elasticthemes.com/"
          target="_blank"
          class="social-link w-inline-block"
          ><img
            src="https://assets.website-files.com/5badda2935e11303a89a461e/5bae5eec5227792568635e37_twitter-icon-white.svg"
            alt="" /></a
        ><a
          href="https://elasticthemes.com/"
          target="_blank"
          class="social-link w-inline-block"
          ><img
            src="https://assets.website-files.com/5badda2935e11303a89a461e/5bae5eec3cb36463d4cf4661_facebook-icon-white.svg"
            alt="" /></a
        ><a
          href="https://elasticthemes.com/"
          target="_blank"
          class="social-link w-inline-block"
          ><img
            src="https://assets.website-files.com/5badda2935e11303a89a461e/5bae5eec7fe624275552217c_instagram-icon-white.svg"
            alt="" /></a
        ><a
          href="https://elasticthemes.com/"
          target="_blank"
          class="social-link w-inline-block"
          ><img
            src="https://assets.website-files.com/5badda2935e11303a89a461e/5bae5eec6e93377c0bbdba8a_pinterest-icon-white.svg"
            alt="" /></a
        ><a
          href="https://elasticthemes.com/"
          target="_blank"
          class="social-link w-inline-block"
          ><img
            src="https://assets.website-files.com/5badda2935e11303a89a461e/5bae5eecfff242b7c309e311_youtube-icon.svg"
            alt=""
        /></a>
      </div>
    </div>
  </div>
  <div class="nav-main">
    <div class="wrapper nav-bar-wrapper">
      <a href="index.html" class="brand w-nav-brand"><div>ToyStore</div></a>
      <div class="navigation">
        <nav role="navigation" class="nav-menu w-nav-menu">
          <a
            href="catalog.html"
            aria-current="page"
            class="nav-link w-nav-link w--current"
            >Catalog</a
          ><a href="delivery.html" class="nav-link w-nav-link">Delivery</a
          ><a href="about.html" class="nav-link w-nav-link">About</a
          ><a href="contacts.html" class="nav-link w-nav-link">Contacts</a>
        </nav>
        <div class="menu-button w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
        <div
          data-node-type="commerce-cart-wrapper"
          class="w-commerce-commercecartwrapper"
        >
          <a
            href="#"
            data-node-type="commerce-cart-open-link"
            class="w-commerce-commercecartopenlink cart-button w-inline-block"
            ><div class="w-inline-block">Cart</div>
            <img
              src="https://assets.website-files.com/5badda2935e11303a89a461e/5baf75c3bf02346640399fec_cart-icon.svg"
              alt=""
              class="cart-icon"
            />
            <div
              data-wf-bindings="%5B%7B%22innerHTML%22%3A%7B%22type%22%3A%22Number%22%2C%22filter%22%3A%7B%22type%22%3A%22numberPrecision%22%2C%22params%22%3A%5B%220%22%2C%22numberPrecision%22%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItemsCount%22%7D%7D%5D"
              class="w-commerce-commercecartopenlinkcount item-count"
            >
              0
            </div></a
          >
          <div
            data-node-type="commerce-cart-container-wrapper"
            style="display: none"
            class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-modal"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
